html{
	margin: 0;
	padding: 0;
}



body{
	margin: 0;
	padding: 0;
	background-color: rgb(255,60,100);
	font-family: Arial;
}

#mainHeader{
	background-color: white;
	position: fixed;
	top:0;
	left: 0;
	width: 80%;
	height: 50px;
	padding: 0 10%;
}

#logo{
	float: left;
}

header nav ul{
	list-style: none;
	padding: 0;
	float: right;
}

header nav ul li{
	display: inline-block;
	margin: 0 10px 0 10px;
}

header nav ul li:hover{
	text-decoration: underline;
	cursor: pointer;
	color: gray;
}

#mainSection{
	margin-top: 70px;
	padding:0 10%;
}

article{
	background-color: white;
	margin: 15px 0;
	padding: 10px;
}

article header span{
	font-size: 25px;
	font-weight: bold;
}

#mainFooter{
	padding: 0 10%;
}






